.nav__container
{
    display: flex;
    width: 100%;
    height: 20vh;
    transition: 0.4s all linear;
    background-color: rgba(26, 25, 25, 0);
    font-size: 1.1rem;
    position: fixed;
    bottom: 0vh;
    z-index: 1;
    color: whitesmoke;
    
}
.nav__container2
{
    display: flex;
    transition: 0.4s all linear;
    width: 100%;
    bottom: 0vh;
    position: fixed;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.685);
    font-size: 1.1rem;
    color: whitesmoke;
    z-index: 100;
}
.top__logo__container
{
   
    display: flex;
    justify-self: center;
    justify-content: center;
    height: 12vh;
    transition: 0.4s all linear;
    background-color: black;
    font-size: 1.1rem;
    position: fixed;
    width: 100%; 
  
}
.top__nav__logo
{
    width: 30%;
      align-self: center;
      justify-self: center;
     height: 100%;
    object-fit: cover;

}
.nav__logo__side
{
 display: inherit;
 width: 25%;
 height: 100%;

}

.nav__logo{
    width: 100%;
    height: 100%;
    transition: 0.4s all linear;
    object-fit: contain;
}


.nav__links__side
{
    display: flex;
    width: 50%;
    justify-content: center;
    height: 100%;

}
.nav__links__side ul{
    display: flex;
    width: 100%;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.nav__links__side li:hover
{
    cursor: pointer;
    transition: 0.4s all linear;
    color: rgb(109, 24, 24);
}
.nav__links__side li:active
{
    background-color: aqua;
    color: aqua;
}
