.nav__container
{
    display: flex;
    width: 100%;
    height: 20vh;
    transition: 0.4s all linear;
    background-color: rgba(26, 25, 25, 0);
    font-size: 1.1rem;
    position: fixed;
    bottom: 0vh;
    overflow: hidden;
    z-index: 1;
    color: whitesmoke;
    
}
.nav__container2
{
    display: flex;
    transition: 0.4s all linear;
    width: 100%;
    bottom: 2vh;
    position: fixed;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    overflow: visible;
    z-index: 100;
}
.top__logo__container
{
   
    display: flex;
    justify-self: center;
    justify-content: center;
    height: 12vh;
    transition: 0.4s all linear;
    background-color: rgba(0, 0, 0, 0.712);
    backdrop-filter: blur(3px);
    box-shadow: 0px 3px 20px 2px rgb(20, 20, 20);
    position: fixed;
    width: 100%; 
  
}
.top__nav__logo
{
    width: 30%;
      align-self: center;
      justify-self: center;
     height: 100%;
    object-fit: cover;

}
.nav__logo__side
{
 display: inherit;
 width: 25%;
 height: 100%;

}

.nav__logo{
    width: 100%;
    height: 100%;
    transition: 0.4s all linear;
    object-fit: contain;
}


.nav__links__side
{
    display: flex;
    width: 50%;
    border-radius: 1000px;
    transition: 0.4s all ease-in-out;
    justify-content: center;
    height: 100%;

}
.nav__links__side ul{
    display: flex;
    width: 100%;
    text-transform: capitalize;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.nav__links
{
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
   
}
.nav__links span
{
    display: flex;
    align-self: center;
    font-size: 1rem;

}

.nav__links__side li:hover .nav__links
{
    cursor: pointer;
    transition: 0.4s all linear;
    color: rgb(204, 29, 29);

}
.nav__links li:active
{
    color: green;
    font-size: 4rem;
}


.hashlink
{
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}









@media only screen and (max-width:980px)
{
 


.top__nav__logo
{
    width: 40%;
    object-fit: contain;

}

}
@media only screen and (min-width:1400px)
{
 


.top__nav__logo
{
    width: 60%;
    object-fit: contain;

}

}






@media only screen and (max-width:768px)
{
    .nav__container
{
   
  justify-content: center;
    
}
.nav__container2
{
    
    bottom: 2.5vh;
    height: auto;
    justify-content: center;
    width: 100%;
   
}
.top__logo__container
{
   
    display: flex;
    height: 8vh;
    margin-bottom: 4vh;
   
}
.top__nav__logo
{
    width: 50%;
    object-fit: contain;
}

.nav__logo__side
{
    display: none;
    
}


.nav__logo{
  
    display: none;
    
}
.nav__links__side
{  
    width: 70%;
    align-self: center;
    padding: 2.2% 2.7%;
    height: 100%;
}



.nav__links__side ul{
    
    justify-content: space-around;


   
}
.nav__links{
    font-size: 1.3rem;

    
}
.nav__links span
{
    font-size: 0.65rem;
}


}


@media only screen and (max-height:600px)
{
    
    .nav__container
{
    
    
    height: 20vh;
    

    
}

.nav__container
{
   
  justify-content: center;
    
}
.nav__container2
{
    
    bottom: 2.5vh;
    height: auto;
    justify-content: center;
    width: 100%;
   
}
.top__logo__container
{
   
    display: flex;
    height: 12vh;
    margin-bottom: 0vh;
   
}
.top__nav__logo
{
    width: 50%;
    object-fit: contain;
}

.nav__logo__side
{
    display: none;
    
}


.nav__logo{
  
    display: none;
    
}
.nav__links__side
{  
    width: 50%;
    padding: 1% 2%;
}



.nav__links__side ul{
    
    justify-content: space-around;


   
}
.nav__links{
    font-size: 1.3rem;

    
}
.nav__links span
{
    font-size: 0.65rem;
}
}