.blog__section
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    width: 90%;
    height:auto;
    margin: 5%;
    gap: 50px;


}
.blog
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:auto;
}
.blog__img
{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 45vh;
}
.blog__detail
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: max-content;
    margin: -20% 5% 0% 5%;
    padding: 5%  3%;
    background-color: rgba(0, 0, 0, 0.664);
    font-family: roboto;
    font-weight: 300;
    gap: 20px;
    backdrop-filter: blur(10px);

}
.blog__detail h3
{
    font-size: 2rem;
    font-weight: 500;
    line-height: 40px;

}
.blog__detail p
{
     font-size: 1.2rem;
     line-height: 28px;
     color: rgba(255, 255, 255, 0.692);
}
.read__more__btn
{
    display: flex;
    padding: 2% 4%;
    width: max-content;
    border:1px solid green;
    margin-bottom: 5%;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: capitalize;
    transition: 0.4s all ease-in-out;
}
.read__more__btn:hover
{
  background-color: green;
  border:1px solid black
}