.cooking__time__container
{
    display: flex;
    width: 90%;
    margin: 5%;
    height: auto;
    padding: 3% 0;
    text-align: center;
    font-weight: 500;
    background-color: rgb(24, 24, 24);
    align-items: center;
}
.time__detail
{
    display: flex;
    flex-direction: column;
    flex: 1;
}.time__detail:nth-child(1)
{
    border-right: 1px solid green;
}
.time__detail:nth-child(2)
{
    border-right: 1px solid green;
}

.bottom__line
{
    display: flex;
    width: 60%;
    margin: 10%;
    align-self: center;
    border-bottom: 1px solid green;
}
.apple__recipes__imgs
{
    display: flex;
    justify-content: center;
    width: 90%;
    align-self: center;
    height:400px;
    object-fit: cover;
}




@media only screen and (max-width:768px)
{

    .cooking__time__container
{
   
    width: 100%;
    margin: 0%;
    margin-bottom: 5%;
    height: max-content;
    font-weight: 500;
    gap: 3px;
}
.time__detail
{
    font-size: 0.9rem;
    gap: 2px;
}
.apple__recipes__imgs
{
    align-self: center;
    height:200px;
    width: 100%;
    object-fit: cover;
}




}


